body {
  background: #FCF9F1;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-image: url('assets/header-pic.png');
  background-size: cover;
  background-position: center;
  font-family: Montserrat;
}

.logo img {
  height: 100px;
}

.profile img {
    height: 30px;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.page-title {
    width: 1166px;
    height: 77px;
    flex-shrink: 0;
    color: #FF4E05;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #FF4E05;
  font-weight: 600;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100vw;
  padding: 12px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  font-family: 'Montserrat';
  max-width: 1200px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  border-color: #FF4E05;
  box-shadow: 0 0 6px rgba(255, 78, 5, 0.4);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button {
  color: #FF4E05;
  font-weight: 600;
  background: white;
  align-items: center;
  padding: 20px 40px;
  font-family: 'Montserrat';
  border-radius: 8px;
  border: 2px solid #ddd;
  align-content: center;
  transition: all 0.3s ease;
}

button:focus{
  border-color: #FF4E05;
  box-shadow: 0 0 6px rgba(255, 78, 5, 0.4); 
}

footer{
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #E1E4E4;
  height: 100px;
  padding: 50px 98px;
  font-family: 'Montserrat'; 
  font-weight: 600;
}

.footer{
  color: black;
  font-weight: 600;
  margin-top: 45px;
}

.modul-wrap {
  display: flex;
  align-content: center;
  font-family: 'Montserrat';
  margin-left: 20px;
  flex-direction: row;
  gap: 100px;
}

.daftar-modul{
  color: black;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  text-align: center;
}

.button-modul {
  color: #FF4E05;
  font-weight: 400;
  background: white;
  align-items: center;
  padding: 10px 40px;
  font-family: 'Montserrat';
  border-radius: 8px;
  border: 2px solid #ddd;
  justify-content: center;
  transition: all 0.3s ease;  
  margin: 10px;
  text-align: center;
}

.button-modul:focus{
  border-color: #FF4E05;
  box-shadow: 0 0 6px rgba(255, 78, 5, 0.4); 
}

a {
  text-decoration: none;
  color: #FF4E05;
}

.go-to-presensi {
  font-weight: 400;
  background: white;
  align-items: center;
  padding: 10px 40px;
  font-family: 'Montserrat';
  border-radius: 8px;
  border: 2px solid #ddd;
  justify-content: center;
  transition: all 0.3s ease;  
  margin: 10px;
  text-align: center;
  font-size: 20px;
}